.badge {
  background-color: rgba(0, 0, 0, 25%);
  border-radius: 0.2rem;
  max-width: fit-content;
  padding: 0.2rem 0.4rem;
  position: absolute;
  bottom: 12px;
  left: 12px;
}

.badge p {
  color: white;
}
