.card {
  max-width: 10rem;
  max-height: 16rem;
  /* position: relative; */
}

.title {
  font-size: 16px;
}

.cover-container {
  position: relative;
  padding-bottom: 4px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
